body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.NGOlinks {
  text-align: center;
  margin: 5px;
}
.login {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5px;
  display: inline-block;
}
.checkout_trash {
  height: 25px;
  width: 60px;
  font-size: 10px;
  text-align: center;
  margin: auto;
  padding: 1px;
}

.checkout_form {
  color: #00B7FF;
  text-align: left;
  margin: 10px;
  padding: 10px;
  position: relative;
  width: 90%;
}
.checkout_form button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  bottom: 10px;
  position: relative;
}
.checkout_form input {
  box-sizing: border-box;
  text-align: left;
  padding-left: 4px;
}
.checkout_form div {
  height: 25px;
  margin: 4px;
  padding: 4px;
  display: inline-block;
  box-sizing: border-box;
  width: 90%;
}
.form_input {
  border: 1px solid #00B7FF;
  border-radius: 5px;
  background: #f1f1f1;
  width: 100%;
  margin: 2px;
}
input.ng-pristine {
   background-color: #f1f1f1;
   color: black;
}

input.ng-touched.ng-invalid {
   background-color: #f1f1f1;
   border: 2px solid #ffb3b3;
   color: #ffb3b3;
}

input.ng-touched.ng-valid {
   background-color: #f1f1f1;
   border: 2px solid #75d46c;
   color: #75d46c;

}
.blurToBack {
  opacity: 0.3;
  z-index: -1;
}
.checkout_form_container {
  border: 5px double #0b4f2d;
  position: absolute;
  margin-top: 20px;
  top: 10px;
  left: 12%;
  width: 75%;
  height: 100%;
  z-index: 999;
  background-color: white;
  border-radius: 10px;
  overflow: scroll;
}
.checkout_form h1 {
  color: #FAFAC8;
}
.checkout_flow_active {
  background-color: #91C3E9;
  border-radius: 50%;
}
.checkout_flow_inactive {
  background-color: grey;
  border-radius: 50%;
}
.checkout_flow_done {
  background-color: #4EA881;
  border-radius: 50%;
}

.checkout_progress_bar div {
  display: inline-block;
}
.checkout_progress_bar img {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
.checkout_form label {
  height: 20px;
  margin: 6px;
  padding: 6px;
}
.card_icons {
  position: relative;
  bottom: 5%;
  right: 5px;
  margin: 2px;
  padding: 2px;
  display: inline-block;
}
.card_icons img {
  height: 30px;
  width: 35px;
}
.pay_btn {
  height: 50px;
  width: 100px;
  text-align: center;
}
.promocode {
  color: #00B7FF;
  text-align: left;
  top: auto;
  margin: 10px;
  padding: 10px;
  position: relative;
  width: 80%;
}
.pc_btn {
  height: 50px;
  width: 100px;
  margin: 4px;
  right: 10%;
}
