/* entire container, keeps perspective */
.flip-container {
  display: inline-block;
}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container {
	width: 200px;
	height: 200px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  height: 200px;
  width: 200px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.token_back {
  height: 200px;
  width: 200px;
  margin: 0px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #c4bf84;
  background-position: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.tokebreak {
  width: 40%;
  margin: auto;
  margin-bottom: 6px;

}
.tokenhead {
  top: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #c4bf84;
}
.token_front {
  color: #c4bf84;
  height: 200px;
  width: 200px;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  display: inline-block;
  background-image: url("../../img/angels/AT_Eth_ENS_Logo.gif");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  background-color: #FFFFFF;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

}
.token_text_front {
  font-size: 10px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 35%;
  color: #b3fcf0;
}
.token-text {
  top: 8px;
  margin: 3px;
  padding: 3px;
  font-size: 10px;
  align: center;
}
.token-mint-date {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
#toke_fro {
  margin: 0px;
  padding: 0px;
  height: 200px;
  width: 200px;
  background-size: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}
