<style>
  .v {
    color: #00B7FF;
    text-align: center;

  }
  h1 {
    color: #00B7FF;
  }
  .view{
    border: 5px double white;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<div data-ng-controller='BehindTheCounterController' ng-init="fetchPromoCodes();">
  <div>
    <a href=#!/BehindTheCounter>
      <div class="back_button btn btn-default">Back to Dashboard</div>
    </a>
  </div>
  <div class="view">
    <div class='row-sm'>
      <h1>Create New PromoCodes</h1>
    </div>
    <div class="row-sm">
          <form name="newPromocodeForm" ng-submit="addNewPromocode();" class="form-inline" data-ng-model="newPromocodeForm">
            <div class="col-sm">
                <div class="form-group">
                    <label for="code">PromoCode: </label>
                    <div class="input-group">
                      <input name="new_code" type="text" class="form-control" data-ng-model="new_code" placeholder="#PROMOCODE" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label>Discount Rate: </label>
                    <div class="input-group">
                      <input name="discount_rate" type="text" class="form-control" data-ng-model="discount_rate" placeholder="0.10" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label>Use Limit:</label>
                    <div class="input-group">
                      <input name="limit_on_uses" type="text" class="form-control" data-ng-model="limit_on_uses" placeholder="1" ng-required="true">
                    </div>
                </div>
            </div>
            <div class="form-actions">
              <input type="submit" class="backend_category_buttons btn btn-default">
            </div>
         </form>
      </div>
  </div>

  <div class='view2'>
    <table class="table table-bordered table-hover" >
      <label><h1>PromoCodes</h1></label>
     <thead><tr><th>Promo Code</th><th>Discount Rate</th><th>Uses</th><th>Total Amount Discounted</th><th>Limit On Uses</th></tr></thead>
  <!-- <thead>
        <tr>
          <td>Total</td>
          <td></td>
          <td>{{ greenInventoryTotalWeight }} lbs. </td>
          <td></td>
          <td></td>
          <td>{{ greenInventoryTotalCost | currency }}</td>
          <td>{{ greenInventoryTotalRetailValue | currency }}</td>
        </tr>
      </thead> -->
      <tbody>
        <tr ng-repeat="item in promocodes | orderBy : '-reception_date'">
          <td>{{item.promo_code}}</td>
          <td>{{item.discount_rate}}</td>
          <td>{{item.uses}}</td>
          <td>{{item.total_amount_discounted | currency}}</td>
          <td>{{item.limit_on_uses}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
