<div ng-controller="StoreFrontController" ng-init="showGreenInventory() ">
    <atnavbarstorefront></atnavbarstorefront>
    <h1>Fresh Beans by the Pound!</h1>
    <h4>Roast Type:<h4>
    <select ng-init="description = last_roast_type" name="roast_type" type="text" class="roast_type dropdown-toggle centered btn" ng-options="type for type in roast_type_cats" ng-model="description" ng-required></select>
    <div class="scroller">
        <div class="sales_category_buttons btn btn-default" ng-repeat="item in green_inventory" ng-if="item.weight > 0" ng-click="add_reservation_to_cart(item.sku, item.origin, item.roast_type = description, item.price_per_lb, 1)">

            <h4 class='origin' ng-model="item.origin">{{item.origin}}</h4>
            <img height="50%" width="50%" class="country_shape" ng-src="/public/img/country_shape/{{item.origin}}.png">
            <h4 ng-model="item.weight">Inventory: {{item.weight}} lbs.</h4>
            <h4> {{item.price_per_lb | currency}}/lb </h4>

            <input type="hidden" name"sku" ng-model="item.sku">
            <input type="hidden" name="origin" ng-model="item.origin">
            <input type="hidden" name="roast_type" ng-model="item.description">
            <input type="hidden" name="price" ng-model="item.price_per_lb">

        </div>
    </div>
    <a class="back_button btn btn-default" href="#!/StoreFront">Store Front</a>
</div>
<shoppingcart></shoppingcart>
